@page "/aucbid"
@using WEB701BalzorApp.infastructure
@using WEB701BalzorApp.Components
@using SQLReflectionMapper
<h3>Bid auc Item</h3>

<AuthorizeView Roles="sa, member, client" Context="aucbid">
    <Authorized>
        @foreach (var record in DB.lst)
        {
            <AucBidLine Item="@record" userName="@aucbid.User.Identity.Name" RefreshDB="@Refresh" />    
        }
        <h2>Database state:</h2>
        
        @foreach (var record in DB.lst)
        {
            <p>@System.Text.Json.JsonSerializer.Serialize(record); </p>
        }
    </Authorized>
    <NotAuthorized>
        <p>Pleace sign in!</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    public void Refresh(AucRecord ar)
    {
        AucRecord found = DB.lst.Find(x => x.id == ar.id);
        found = ar;
        this.StateHasChanged();
    }
    protected override void OnInitialized()
    {
        DB.lst = DBExecuter.SQLRequest("select * from items", new ParamList()).Map<AucRecord>();
    }
}


