@page "/"

<Styled @bind-Classname="@indexPage">
    
</Styled>

<div class="@indexPage">
    <h1>Hello, world!</h1>
    <p>@set.www</p>
</div>


<AuthorizeView Roles="sa, member, client">
    <Authorized>
        <h1>Hello, @context.User.Identity.Name!</h1>
        <p>You can only see this content if you're authenticated use with SA role.</p>
    </Authorized>
    <Authorizing>
        <h1>Authentication in progress</h1>
        <p>You can only see this content while authentication is in progress.</p>
    </Authorizing>
    <NotAuthorized>
        <p>Please sign in!</p>
    </NotAuthorized>
</AuthorizeView>
<p><a href="/aucplace"> AUCLPACE</a></p>
<p><a href="/aucbid"> AUCBID</a></p>
<p><a href="/visual"> INTERACTIVE</a></p>

aucbid
<MatButton Icon="favorite" Label="Simple Button"></MatButton>
Welcome to your new app.

@code {
    private string indexPage;
}
