@page "/logoutpage"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@using WEB701BalzorApp.infastructure
@using System.Web
<h3>LogoutPage</h3>





@code {
    protected override async Task OnInitializedAsync()
    {
        await ((BasicAuthStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
        NavigationManager.NavigateTo("/");
    }



}
