@page "/visual"
<Styled @bind-Classname="@vefclass">
    #elem {
    width: 100px;
    height: 100px;
    background: #4d4c70;
    transition: width 3s, height 5s;
    }

    #elem:hover {
    width: 400px;
    height: 400px;
    }
</Styled>

<h1>CSS transition interactive element</h1>
<p>Hover over the element:</p>
<div id="elem"></div>

@code {
    private string vefclass;
}
