@*Page to display one article*@
@using Web701BlazorApp.Data
@using WEB701GRPC.Protos
@page "/article/{id}"
<Web701BlazorApp.Components.ContentAndFooter>
    <div>
        <h2 class="text-xl">@ArticleItem.Title</h2>
        <br />
        <img class="" src="@ArticleItem.ImageLink">
        <br />
        <p>@ArticleItem.Text</p>
    </div>
</Web701BlazorApp.Components.ContentAndFooter>


@code {
    [Parameter]
    public string id { get; set; }
    private WEB701GRPC.Protos.Article ArticleItem { get; set; } = new Article();

    protected override async void OnInitialized()
    {
        try
        {
            ArticleItem = (await gRPCClient.GetArticleList()).Find(x=>x.Id==int.Parse(id));
        }
        catch (Exception e)
        {
            Console.WriteLine(e.GetBaseException().Message);
        }
        this.StateHasChanged();
    }

}
