@*Footer of a page*@
<style>
    .footer-svg-icon {
        @*fill: #efe4ca;*@
        fill: #F7FAFC;
    }
    .footer-fill-color {
        background-color: @FillColor 
        @*background-color: rgba(5, 33, 44, 0.86);*@
    }
</style>

<div class="flex footer-fill-color">
    <div class="flex-initial text-orange-200 text-center px-1 py-1 m-1">
        <svg class="footer-svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path class="footer-svg-icon"
                  d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z" />
        </svg>
    </div>
    <div class="flex-initial text-gray-100 text-center px-1 py-1 m-1">
        +64123456789
    </div>
    <div class="flex-initial text-gray-100 text-center px-1 py-1 m-1">
        <svg class="footer-flex-item" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path class="footer-svg-icon"
                  d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z" />
        </svg>
    </div>
    <div class="flex-initial text-gray-100 text-center px-1 py-1 m-1">
        <a href="mailto:info@peacheplease.co.nz">info@peacheplease.co.nz</a>
    </div>
</div>



@code {
    [Parameter]
    public string FillColor { get; set; } = "none";

}
